<h1>HRM Content</h1>
<div>
    The HRM Details
</div>
<br/>
<div id="hrm-content" class="demo-apphrm">
    <div class="oj-row">
	<div id="deptList" class="oj-md-9 oj-col">
            <table id="dept-table"  summary="Department List" 
                   data-bind="
				   ojComponent: {component: 'ojTable', 				 
                   data: dataSource, 
				 columns: [{headerText: 'Department Id', 
                                           field: 'DepartmentId'},
                                          {headerText: 'Department Name', 
                                           field: 'DepartmentName'},
                                          {headerText: 'Location', 
                                           field: 'Location'}]
                   }">
            </table>
        </div>
    </div>
</div>
